@tailwind base;
@tailwind components;
@tailwind utilities;


/* Color extracted from tailwind css */
:root {
  --tw-shadow-color: #6365f1;
}

@layer base {
  @font-face {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
}

button:hover {
  transition: all .3s ease-in;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul>li,
ol>li {
  padding: 0 1em;
  cursor: pointer;
}

a {
  color: inherit;
  user-select: none;

}

a:hover {
  color: var(--tw-shadow-color);
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}