@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul > li, ol > li {
  padding: 0 1em;
  cursor: pointer;
}

li:hover {
  user-select: none;
  transition: all 7s ease-in;
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
